.box {
  width: 90%;
  margin: 100px auto;
  padding: 20px;
  
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

  .row {
    display: flex;
    align-items: center;


    .col-md-5,
    .col-md-7 {
      padding: 20px;
    }

    .col-md-5 {
      img {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .col-md-7 {
      .info {
        ul {
          li {
            font-size: 18px;
            margin: 10px 0;
          }
        }

        .star-icon {
          color: #f4d03f; /* Star color */
        }
      }
    }
  }
}
