<!--<div class="box">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <img src="{{data.image}}" alt="Product Image">
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="info">
        <ul class="list-unstyled">
          <li><strong>TITLE:</strong> {{data.title}}</li>
          <li><strong>Category:</strong> {{data.category}}</li>
          <li><strong>Description:</strong> {{data.description}}</li>
          <li><strong>Rate:</strong> {{data.rating.rate}} <span class="star-icon">✩</span></li>
          <li><strong>Count:</strong> {{data.rating.count}}</li>
          <li><strong>Price:</strong> {{data.price}} DT</li>
        </ul>
      </div>
    </div>
  </div>
</div>-->
<div *ngIf="product">
  <h2>{{ product.name }}</h2>
  <p>{{ product.description }}</p>
  <p>Price: {{ product.newPrice }}</p>
  <!-- Add more detailed product information -->
</div>

